{% extends "layout.html" %}

{% block page_title %}
  Examples of issues for Ashleigh (blind)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="ashleigh" class="link-back">Back</a>
      <h1>Examples of issues for Ashleigh (blind)</h1>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="non-existent-id">What is your name?</label>
          <input class="form-control" id="name" name="name" type="text" />
        </div>

        <div class="form-group">
          <fieldset>

            <div class="form-label-bold">
              What is the OECD average nowadays? (see graph below)
            </div>

            <div class="multiple-choice">
              <input id="budget-1" type="radio" name="budget" value="0.8">
              <label for="budget-1">0.8%</label>
            </div>

            <div class="multiple-choice">
              <input id="budget-2" type="radio" name="budget" value="1.0">
              <label for="budget-2">1.0%</label>
            </div>

            <div class="multiple-choice">
              <input id="budget-3" type="radio" name="budget" value="2.5">
              <label for="budget-3">2.5%</label>
            </div>

          </fieldset>
        </div>

        <p>
          <img src="/public/images/budget-table.jpg" alt="Chart 1.3: Average annual productivity growth" />
        </p>

        <button class="button" type="submit">Continue</button>
      </form>

    </div>
  </div>
</main>

{% endblock %}
