{% extends "layout.html" %}

{% block page_title %}
  Examples of issues for Ashleigh (blind)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="ashleigh" class="link-back">Back</a>
      <h1>Examples of issues for Ashleigh (blind)</h1>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="non-existent-id">
            What year is it?
            <!-- TODO: test if JAWS still reads the whole label; if yes, try just a span -->
            <span class="form-hint">
              For example, '2001'
            </span>
          </label>
          <input class="form-control" id="year" name="year" type="text" />
        </div>

        <div class="form-group">
          <fieldset>

            <div class="form-label-bold">
              Can you read the graph below?
            </div>

            <div class="multiple-choice">
              <input id="accessgraph-yes" type="radio" name="accessgraph" value="yes">
              <label for="accessgraph-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="accessgraph-no" type="radio" name="accessgraph" value="no">
              <label for="accessgraph-no">No</label>
            </div>

          </fieldset>
        </div>

        <h2>Types of assistive technology used to access GOV.UK</h2>
        <p>
          <img src="/public/images/accessibility-survey-table.png" alt="Types of assistive technology" />
        </p>

        <button class="button" type="submit">Continue</button>
      </form>

    </div>
  </div>
</main>

{% endblock %}
