{% extends "layout.html" %}

{% block page_title %}
  Fixed examples of issues for Ashleigh (blind)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="ashleigh" class="link-back">Back</a>
      <h1>Fixed examples of issues for Ashleigh (blind)</h1>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="year">
            What year is it?
            <span class="form-hint">
              For example, '2001'
            </span>
          </label>
          <input class="form-control" id="year" name="year" type="text" />
        </div>

        <div class="form-group">
          <fieldset>
            <legend>
              <span class="form-label-bold">
                Can you read the graph below?
              </span>
            </legend>

            <div class="multiple-choice">
              <input id="accessgraph-yes" type="radio" name="accessgraph" value="yes">
              <label for="accessgraph-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="accessgraph-no" type="radio" name="accessgraph" value="no">
              <label for="accessgraph-no">No</label>
            </div>

          </fieldset>
        </div>

        <h2>Types of assistive technology used to access GOV.UK</h2>
        <p>
          <img src="/public/images/accessibility-survey-table.png" alt="Screen magnifier: 30%; screen reader: 29%; speech recognition: 18%; readability: 15%; other: 8%" />
        </p>

        <button class="button" type="submit">Continue</button>
      </form>

    </div>
  </div>
</main>

{% endblock %}
