{% extends "layout.html" %}

{% block page_title %}
  Fixed examples of issues for Claudia (partially sighted)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="claudia" class="link-back">Back</a>
      <h1>Fixed examples of issues for Claudia (partially sighted)</h1>

      <h2>Who runs government</h2>

      <h3>The Prime Minister</h3>
      <p>The <a href="https://www.gov.uk/government/ministers/prime-minister">Prime Minister</a> is head of the UK government. They are ultimately responsible for all policy and decisions. They:</p>
      <ul>
        <li>oversee the operation of the Civil Service and government agencies</li>
        <li>appoint members of the government</li>
        <li>are the principal government figure in the House of Commons</li>
      </ul>
      <p>The Prime Minister is <a href="https://www.gov.uk/government/people/theresa-may">The Rt Hon Theresa May MP</a>.</p>
      <p><a href="https://www.gov.uk/government/organisations/prime-ministers-office-10-downing-street">Read more about the Prime Minister's Office, 10 Downing Street</a></p>

      <h3>The Cabinet</h3>
      <p>The Cabinet is made up of the senior members of government. Every week during Parliament, members of the Cabinet (Secretaries of State from all departments and some other ministers) meet to discuss the most important issues for the government.</p>
      <p><a href="https://www.gov.uk/government/ministers">See who is in the Cabinet</a></p>

      <h3>Ministers</h3>
      <p>
        1 Prime Minister + 22 Cabinet ministers + 98 Other ministers<br />
        = 121 Total ministers
      </p>
      <p>Ministers are chosen by the Prime Minister from the members of the House of Commons and House of Lords. They are responsible for the actions, successes and failures of their departments.</p>
      <p><a href="https://www.gov.uk/government/ministers">See full list of ministers</a></p>


      <h2>Quiz question</h2>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="ministers">How many ministers are there?</label>
          <input class="form-control form-control-1-4" id="ministers" name="ministers" type="text" />
        </div>

        <button class="button" type="submit">Continue</button>
      </form>

    </div>
  </div>
</main>

{% endblock %}
