{% extends "layout.html" %}

{% block page_title %}
  list of test pages Claudia (partially sighted)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Test issues Claudia (partially sighted) would have</h1>

      <p>Do the following tasks first on the page with problems and then on the page which fixed the problems.</p>
      <ol class="list list-number">
        <li>Find out how many ministers there are</li>
        <li>Fill in the form</li>
      </ol>

      <p>Then prepare a text message on the Android phone with the following message:</p>
      <blockquote class="panel panel-border-wide">
        <p>
          Hello Eddie, can you help me find out how many ministers there are? I need this for some training at work. Call me back as soon as you can.
        </p>
      </blockquote>

      <p>
        <a class="badbutton" href="claudia-bad">Page with problems</a>
      </p>
      <p>
        <a class="button" href="claudia-good">Page with fixes</a>
      </p>

      <p><a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles/claudia-partially-sighted-screen-magnifier-user">More about Claudia</a></p>

    </div>
  </div>
</main>

{% endblock %}
