{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Claudia (partially sighted)</h1>
      <p>
        <a class="button" href="claudia1">test page 1</a>
      </p>
      <p>
        <a class="button" href="claudia2">test page 2</a>
      </p>
      <p>
        <a class="button" href="claudia3">test page 3</a>
      </p>
      <p>
        <a class="button" href="claudia4">test page 4</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
