{% extends "layout.html" %}

{% block page_title %}
  Demonstrating issues accessibility personas would have
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Demonstrating issues accessibility personas would have</h1>

      <ul>
        <li><a href="claudia">Claudia (partially sighted)</a></li>
        <li><a href="ashleigh">Ashleigh (blind)</a></li>
        <li><a href="ron">Ron (multiple conditions)</a></li>
        <li><a href="christopher">Christopher (arthritis)</a></li>
        <li><a href="pawel">Pawel (Asperger's)</a></li>
        <li><a href="simone">Simone (dyslexic)</a></li>
        <li><a href="saleem">Saleem (deaf)</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
