{% extends "layout.html" %}

{% block page_title %}
  Demonstrating issues accessibility personas would have
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Demonstrating issues accessibility personas would have</h1>
      <p>
        <a class="button" href="ashleigh">Ashleigh (blind)</a>
      </p>
      <p>
        <a class="button" href="claudia">Claudia (partially sighted)</a>
      </p>
      <p>
        <a class="button" href="pawel">Pawel (Asperger's)</a>
      </p>
      <p>
        <a class="button" href="ron">Ron (multiple conditions)</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
