{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Empathy lab persona testing</h2>
      <p>
        <a class="button" href="#">Ashleigh (blind)</a>
      </p>
      <p>
        <a class="button" href="#">Claudia (partially sighted)</a>
      </p>
      <p>
        <a class="button" href="#">Pawel (Asperger's)</a>
      </p>
      <p>
        <a class="button" href="#">Ron (multiple conditions)</a>
      </p>

    </div>
  </div>
</main>

{% endblock %}
