{% extends "layout.html" %}

{% block page_title %}
  Fixed examples of issues for Pawel (Asperger's)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="pawel2" class="link-back">Back</a>
      <h1>Fixed examples of issues for Pawel (Asperger's)</h1>

      <p class="lede pawel2-good govuk-box-highlight">
        How the Medicines and Healthcare products Regulatory Agency (MHRA) makes decisions on what is a medicine or medical device (borderline products).
      </p>

      <p>Some products are hard to distinguish from a medicine or a medical device, for example cosmetics, food supplements or biocidal products. These products are called borderline products until their status has been decided.</p>

      <p>MHRA determines whether a product falls within the definition of a medicine – ‘medicinal product’ or a medical device and provides information on whether a product is a medicine or a medical device or not.</p>

      <p>
        If you need help deciding whether your product is a medicine or a medical device, you should email us at <a href="mailto:mail@example.com">mail@example.com</a>.
      </p>

      <h2>Quiz question</h2>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="name">What is your name?</label>
          <input class="form-control" id="name" name="name" type="text" />
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="textarea">
            What should you do if you want to know more?
          </label>
          <textarea class="form-control pawel2-good" name="textarea" id="textarea" rows="5"></textarea>
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
