{% extends "layout.html" %}

{% block page_title %}
  Examples of issues for Pawel (Asperger's)
{% endblock %}

{% block content %}
<main class="" id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="pawel2" class="link-back">Back</a>
      <h1>Examples of issues for Pawel (Asperger's)</h1>

      <div class="pawel2-bad govuk-box-highlight">
        If you'd like to get the skinny on whether your gear is a medicine or a medical device, you should <a href="mailto:mail@example.com">give us a bell or hit us up</a>.
      </div>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="textarea">
            Feedback
          </label>
          <textarea class="form-control" name="textarea" id="textarea" rows="5"></textarea>
        </div>
      </form>


    </div>
  </div>
</main>

{% endblock %}
