{% extends "layout.html" %}

{% block page_title %}
  Fixed examples of issues for Pawel (Asperger's)
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="pawel2" class="link-back">Back</a>
      <h1>Fixed examples of issues for Pawel (Asperger's)</h1>

      <p>
        If you'd like to decide on whether your product is a medicine or a medical device, you should <a href="mailto:mail@example.com">email us</a> or use the form below.
      </p>

      <form>
        <div class="form-group">
          <label class="form-label-bold" for="textarea">
            Feedback
          </label>
          <textarea class="form-control pawel2-good" name="textarea" id="textarea" rows="5"></textarea>
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
