{% extends "layout.html" %}

{% block page_title %}
  Examples of issues for Pawel (Asperger's)
{% endblock %}

{% block content %}
<main class="pawel2-bad" id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="pawel2" class="link-back">Back</a>
      <h1>Examples of issues for Pawel (Asperger's)</h1>

      <p class="lede">
        How the Medicines and Healthcare products Regulatory Agency (MHRA) makes decisions on what is a medicine or medical device (borderline products).
      </p>

      <p>Some products are hard to distinguish from a medicine or a medical device, for example cosmetics, food supplements or biocidal products. These products are called borderline products until their status has been decided.</p>

      <p>MHRA determines whether a product falls within the definition of a medicine – ‘medicinal product’ or a medical device and provides information on whether a product is a medicine or a medical device or not.</p>

      <p>
        If you'd like to get the skinny on whether your gear is a medicine or a medical device, you should <a href="mailto:mail@example.com">give us a bell or hit us up</a>.
      </p>

    </div>
  </div>
</main>

{% endblock %}
