{% extends "layout.html" %}

{% block page_title %}
  Test issues Pawel (Asperger's) would have
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1>Test issues Pawel (Asperger's) would have</h1>
      <p>Do the following tasks first on the page with problems and then on the page which fixed the problems.</p>
      <ol>
        <li>You have had a flyer from Herbs R Us about a new high energy parsley and thyme based supplement - could this be a borderline product? </li>
        <li>What should you literally do if you have an enquiry about the regulatory route for a medical device?</li>
      </ol>

      <p>
        <a class="badbutton" href="pawel-bad">Page with problems</a>
      </p>
      <p>
        <a class="button" href="pawel-good">Page with fixes</a>
      </p>

      <p><a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles/pawel-user-with-aspergers">More about Pawel</a></p>


    </div>
  </div>
</main>

{% endblock %}
