{% extends "layout.html" %}

{% block page_title %}
  bad example - Pawel (Asperger's)
{% endblock %}

{% block content %}

<main class="pawel-bad" id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="pawel" class="link-back">Back</a>
      <h1 class="heading-large">Pawel (Asperger's) bad example</h1>
      <h2>
  Decide if your product is a medicine or a medical device
</h2>
</div>

</div>

<div class="column-two-thirds">

<p class="gem-c-lead-paragraph ">
  How the Medicines and Healthcare products Regulatory Agency (MHRA) makes decisions on what is a medicine or medical device (borderline products).
</p>

</div>
</div>

<div class="grid-row">
<div class="metadata-logo-wrapper">
  <div class="column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata">
  <div class="app-c-published-dates ">
  Published 21 June 2013
  <br>Last updated 23 April 2018
    — <a href="#history">see all updates</a>
</div>

    <div class="app-c-publisher-metadata__other">
      <dl data-module="track-click">
          <dt class="app-c-publisher-metadata__term">From: </dt>
          <dd class="app-c-publisher-metadata__definition"><a href="/government/organisations/medicines-and-healthcare-products-regulatory-agency">Medicines and Healthcare products Regulatory Agency</a></dd>
      </dl>
    </div>
</div>

  </div>
  <div class="column-one-third">
  </div>
</div>
</div>




<div class="grid-row">
<div class="column-two-thirds">


    <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
    <div class="responsive-bottom-margin">
        <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
    <h2 class="gem-c-contents-list__title">Contents</h2>

  <ol class="gem-c-contents-list__list">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
        <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#overview" data-track-options='{"dimension29":"Overview"}' href="#overview">Overview</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
        <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#types-of-borderline-products" data-track-options='{"dimension29":"Types of borderline products"}' href="#types-of-borderline-products">Types of borderline products</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
        <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#borderline-medicines" data-track-options='{"dimension29":"Borderline medicines"}' href="#borderline-medicines">Borderline medicines</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
        <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#borderline-medical-devices" data-track-options='{"dimension29":"Borderline medical devices"}' href="#borderline-medical-devices">Borderline medical devices</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
        <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#getting-advice-about-your-product" data-track-options='{"dimension29":"Getting advice about your product"}' href="#getting-advice-about-your-product">Getting advice about your product</a>
      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
        <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#further-guidance" data-track-options='{"dimension29":"Further guidance"}' href="#further-guidance">Further guidance</a>
      </li>
  </ol>
</nav>

    </div>


<div class="gem-c-govspeak govuk-govspeak direction-ltr">
    <div class="govspeak">
<h2 id="overview">Overview</h2>

<p>Some products are hard to distinguish from a medicine or a medical device, for example cosmetics, food supplements or biocidal products. These products are called borderline products until their status has been decided.</p>

<p>MHRA determines whether a product falls within the definition of a medicine – ‘medicinal product’ or a medical device and provides information on whether a product is a medicine or a medical device or not.</p>

<h2 id="types-of-borderline-products">Types of borderline products</h2>

<p>The types of products which may fall in to the borderline category include:</p>

<ul>
<li>cosmetics</li>
<li>food products, including, in particular,  food supplements</li>
<li>herbal products</li>
<li>medical devices</li>
<li>biocides</li>
<li>machinery/laboratory equipment</li>
</ul>

<p>There is also a borderline between medicinal products and medical devices. In these cases it will be the claims being made and the mode of action that will decide which regulatory regime will apply.</p>

<h2 id="borderline-medicines">Borderline medicines</h2>

<p>A medicinal product is:</p>

<ul>
<li>any substance or combination of substances presented as having properties of preventing or treating disease in human beings</li>
<li>any substance or combination of substances that may be used by or administered to human beings with a view to restoring, correcting or modifying a physiological function by exerting a pharmacological, immunological or metabolic action, or making a medical diagnosis</li>
</ul>

<p>You can find more detailed information in <a rel="external" href="http://www.legislation.gov.uk/uksi/2012/1916/contents/made">Regulation 2 of the Human Medicines Regulations</a>.</p>

<p>Food supplements that contain familiar substances like vitamins, amino acids or minerals are generally subject to food safety and food labelling legislation rather than medicines control. You can get advice on food and cosmetics from the <a rel="external" href="http://www.tradingstandards.uk">Trading Standards Institute</a>.</p>

<p>MHRA decides whether the claims that are made or the active substance(s) present would mean that the product is regarded to be a medicinal product.</p>

<p>The inclusion of herbal or ‘natural’ ingredients does not exclude a product from being a medicinal product. MHRA takes the same factors into account when deciding the status of a product with herbal ingredients.</p>

<h3 id="how-we-decide-if-a-product-is-a-medicine">How we decide if a product is a medicine</h3>

<p>MHRA decides whether a product is a medicine when:</p>

<ul>
<li>the manufacturer is not sure if their product is a medicine or not, and they come to MHRA for advice</li>
<li>MHRA receives a complaint that a product is being marketed as a medicine but does not have a marketing authorisation (formerly a product licence)</li>
</ul>

<p>We look at:</p>

<ul>
<li>the claims about what the product does (explicit and implicit)</li>
<li>the pharmacological, metabolic or immunological properties of the ingredients (this includes any herbal ingredients)</li>
<li>the primary intended purpose of the product</li>
<li>whether there are any similar licensed or registered products on the market</li>
<li>how it is presented to the public through labelling, packaging, promotional literature and advertisements</li>
</ul>

<p>See <span id="attachment_2666299" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/694270/FD_List_Vol_5.doc">final determinations by MHRA on borderline products - March 2018</a>
(<span class="type">MS Word Document</span>, <span class="file-size">205KB</span>)
</span></p>

<p>See <span id="attachment_2666293" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/404785/Final-determinations-Vol4_1_.pdf">final determinations by MHRA on borderline products - October 2010 to July 2014</a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">112KB</span>, <span class="page-length">18 pages</span>)
</span>
. Previous final determinations are available  on the <a rel="external" href="http://webarchive.nationalarchives.gov.uk/20141127084156/http://www.mhra.gov.uk/Howweregulate/Medicines/Doesmyproductneedalicence/Borderlineproducts/FinalDeterminations/index.htm">National Archives</a>.</p>

<p>See <span id="attachment_2666300" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/701575/Urgent__Notices_issued_to_March_2018.pdf">Urgent Notices issued by MHRA from March 2018</a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">112KB</span>, <span class="page-length">7 pages</span>)
</span></p>

<h2 id="borderline-medical-devices">Borderline medical devices</h2>

<p>Medical devices fall into 1 of 3 categories, as each type is governed by a different EU directive:</p>

<ul>
<li>medical devices – covered by the <a rel="external" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CONSLEG:1993L0042:20071011:en:PDF">Medical Devices Directive (Directive 93/42/EEC)</a>
</li>
<li>in vitro diagnostic medical devices – covered by the <a rel="external" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CONSLEG:1998L0079:20031120:en:PDF">In Vitro Diagnostic Medical Devices (Directive 98/79/EC)</a>
</li>
<li>active implantable medical devices – covered by the <a rel="external" href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CONSLEG:1990L0385:20071011:en:PDF">Active Implantable Medical Devices (Directive 90/385/EEC)</a>
</li>
</ul>

<p>MHRA can give advice if you are not sure which category your device fits into.</p>

<p>You should not assume that if your product is considered a medical device in countries outside the EU that it will be a medical device in the EU as well.</p>

<p>Decisions about whether a product is a medical device are based on the stated intended purpose of the product and its mode of action.</p>

<p>If the product is a medical device, the principal intended action is fulfilled by physical means.</p>

<h2 id="getting-advice-about-your-product">Getting advice about your product</h2>

<h3 id="borderline-medicines-1">Borderline medicines</h3>

<p>You can find detailed advice here in our <span id="attachment_2666294" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/506397/a_guide_to_what_is_a_medicinal_product.pdf">a guide to what is a medicinal product </a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">678KB</span>, <span class="page-length">62 pages</span>)
</span>
. You should read this document before contacting MHRA.</p>

<p>Use our <a rel="external" href="http://info.mhra.gov.uk/forms/borderline_advice.aspx">borderline advice form</a> form to request information on a medicine if you don’t find the information you need in our guidance document. Email the completed form and attachments to <a href="mailto:borderline_medicine@mhra.gov.uk">borderline_medicine@mhra.gov.uk</a>.</p>

<p>MHRA will only respond to a maximum of 3 product enquiries at a time.</p>

<h3 id="borderline-medical-devices-1">Borderline medical devices</h3>

<p>If your enquiry is about the regulatory route for a medical device you should email <a href="mailto:Devices.regulatory@mhra.gov.uk">Devices.regulatory@mhra.gov.uk</a>.</p>

<h2 id="further-guidance">Further guidance</h2>

<p><a rel="external" href="http://ec.europa.eu/growth/sectors/medical-devices/specific-areas-development_nn">Borderline products, drug-delivery products and medical devices incorporating, as an integral part, an ancillary medicinal
substance or an ancillary human blood derivative</a></p>

<p><span id="attachment_2666296" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/521420/Borderlines_between_medical_devices_and_other_products__such_as_personal_protective_equipment__cosmetics_and_biocides_.pdf">Borderlines between medical devices and medicinal products</a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">166KB</span>, <span class="page-length">12 pages</span>)
</span></p>

<h3 id="medicines-borderlines">Medicines borderlines</h3>

<p><a href="https://www.gov.uk/government/publications/the-medicines-borderline-and-the-internet">Borderline medicines and the internet</a></p>

<p><span id="attachment_2666292" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/395811/Medicinal_products_containing_herbal_ingredients.pdf">Medical products containing herbal ingredients</a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">32.8KB</span>, <span class="page-length">5 pages</span>)
</span></p>

<p><span id="attachment_2666295" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/410325/List-of-herbal-products.pdf"> List of herbal ingredients and their reported uses</a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">429KB</span>, <span class="page-length">12 pages</span>)
</span></p>

<h3 id="medical-device-borderlines">Medical device borderlines</h3>

<p><a href="https://www.gov.uk/government/publications/medical-devices-software-applications-apps">Guidance on standalone software (including apps)</a></p>

<p><span id="attachment_2666298" class="attachment-inline">
<a href="/government/uploads/system/uploads/attachment_data/file/521458/Borderlines_with_medical_devices.pdf">Borderlines between medical devices and other products (such as personal protective equipment, cosmetics and biocides) </a>
(<span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">129KB</span>, <span class="page-length">12 pages</span>)
</span></p>

<p><a rel="external" href="http://ec.europa.eu/growth/sectors/medical-devices/guidance/index_en.htm#meddevs">European Commission Guidance documents (MEDDEV’s)</a></p>
</div>
</div>


    <div class="responsive-bottom-margin">
      <div class="app-c-published-dates app-c-published-dates--history" id="history" data-module="toggle">
  Published 21 June 2013
  <br>Last updated 23 April 2018
    <a href="#full-history" data-controls="full-history" data-expanded="false" data-toggled-text="- hide all updates">+ show all updates</a>
    <div class="app-c-published-dates__change-history js-hidden" id="full-history">
      <ol>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2018-04-23T11:28:13.000+01:00">23 April 2018</time>
            Update medical devices document
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2018-03-26T12:13:41.000+01:00">26 March 2018</time>
            Updated final determinations for March 2018.
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2017-11-17T10:13:36.000+00:00">17 November 2017</time>
            Updated the document Urgent Notices issued by MHRA from June 2016
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2017-06-19T11:52:51.000+01:00">19 June 2017</time>
            Added the document Urgent Notices issued by MHRA from June 2016
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2017-05-26T17:00:05.000+01:00">26 May 2017</time>
            Alteration to number of product enquiries processed at a time by the borderline medicines team.
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2017-05-23T11:14:45.000+01:00">23 May 2017</time>
            Updated final determinations
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2017-02-22T16:03:05.000+00:00">22 February 2017</time>
            Updated list of final determinations
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2016-08-08T13:56:05.000+01:00">8 August 2016</time>
            Updated determinations
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2016-07-18T14:26:57.000+01:00">18 July 2016</time>
            Updated links
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2016-05-09T13:16:45.000+01:00">9 May 2016</time>
            new determinations
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2016-05-06T11:51:03.000+01:00">6 May 2016</time>
            Updated Borderlines between medical devices and medicinal products document and Borderlines between medical devices and other products (such as personal protective equipment, cosmetics and biocides document.
          </li>
          <li class="app-c-published-dates__change-item">
            <time class="app-c-published-dates__change-date timestamp" datetime="2013-06-21T00:00:00.000+01:00">21 June 2013</time>
            First published.
          </li>
      </ol>
    </div>
  </div>
</main>

{% endblock %}
