{% extends "layout.html" %}

{% block page_title %}
  Test issues Ron (multiple conditions) would have
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1>Test issues Ron (multiple conditions) would have</h1>
      <p>Do the following tasks first on the page with problems and then on the page which fixed the problems.</p>
      <ol>
        <li>Find out how many Cabinet ministers there are</li>
        <li>Go to the second page (see pagination at the bottom)</li>
      </ol>

      <p>
        <a class="badbutton" href="ron-bad">Page with problems</a>
      </p>
      <p>
        <a class="button" href="ron-good">Page with fixes</a>
      </p>

      <p><a href="https://www.gov.uk/government/publications/understanding-disabilities-and-impairments-user-profiles/ron-older-user-with-multiple-conditions">More about Ron</a></p>


    </div>
  </div>
</main>

{% endblock %}
